.root {
  margin: 1rem 0 1.3rem;
}

.root img {
  display: block;
  margin: 0 auto 0.2rem;
  max-width: 375px;
}

.root hr {
  background: #702931;
  height: 0.5rem;
}

@media print {
  .root {
    margin-top: 0;
  }
} 
